  <style>
/*
 * Specific styles of signin component
 */
/*
 * General styles
 */
body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-color: rgb(20, 20, 20);
}

.card-container.card {
    width: 430px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: rgb(20, 20, 20);
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.747),0 0 8px rgb(104, 145, 162);
}

.btn-signin {
    /*background-color: #4d90fe; */
    background-color: orange
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn-signin:hover,
.btn-signin:active,
.btn-signin:focus {
    background-color: rgb(248, 177, 45)
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}
h3, h4{
    color: white;
    text-align: center;
}
h1{
    color: orange;
    text-align: center;
}
.labels{
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
}


#opa{
    width: 300px;
    align-items: center;
    margin: 0 auto;
}
a{
    color: #ffa500;
}
a:hover{
    color: #ad750d;
}
    img{
        background-color: white;
        width: 100px;
        border-radius: 10px;
    }

  </style>
  
 <div class="card card-container">
                    {{#each erros}}

                    <div class="alert alert-danger" id="opa">{{texto}}</div>
                    <br>
                    {{/each}}
          
             <div style="display: flex; justify-content: center;">
                <img src="../../uploads/assets/Logo empório.png " alt="" width="300px">
                </div>
                <h1 class="labels mt-4">Login</h1>
                <h4>Não possui cadastro ? <p><a href="/clientes/registro">Registre-se Já</p></a></h4>
            <p id="profile-name" class="profile-name-card"></p>
            <form action="/clientes/login" method="post" class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
    
                <label for="email" class="labels">E-mail:</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="nome@exemplo.com" required autofocus>
                <label for="senha" class="labels">Senha:</label>
                <input type="password" id="senha" name="senha" class="form-control" placeholder="Senha" required>
            
                <br>
                <button class="btn btn-lg btn-warning btn-block btn-signin" type="submit">Entrar</button>
            </form><!-- /form -->
           
        </div><!-- /card-container -->
    </div><!-- /container -->

   